name: Testing

on:
  push:
    branches:
      - main
    paths-ignore:
      - docs/**
  pull_request:
    branches:
      - main
    paths-ignore:
      - docs/**

jobs:
  tox:
    name: Tox Tests
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - 3.7
          - 3.8
          - 3.9
          - '3.10'
          - '3.11'
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      #----------------------------------------------
      - name: Checkout repository
        uses: actions/checkout@v3
      #----------------------------------------------
      - name: Setup python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup PDM
        run: pip install pdm
      #----------------------------------------------
      - name: Install project
        run: pdm install -G test
      - name: Test with tox
        env:
          LEAGUE_OF_COMIC_GEEKS__CLIENT_ID: INVALID
          LEAGUE_OF_COMIC_GEEKS__CLIENT_SECRET: INVALID
          LEAGUE_OF_COMIC_GEEKS__ACCESS_TOKEN: INVALID
        run: pdm run tox -e py
